
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
        <ion-card-title>What do you want to do</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>I want to buy</ion-label>
          <ion-radio value="buy" slot="start"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>I want to sell</ion-label>
          <ion-radio value="sell" slot="start"></ion-radio>
        </ion-item>
        </ion-radio-group>
    </ion-card-content>
  </ion-card>



    <ion-card>
      <ion-card-header>
        
        <ion-card-title color="success">Register</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="Password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="Password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>

       
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Contact information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Street</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">zip code</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-card-content>
    
    </ion-card>
    <ion-button color="dark" fill="clear" size="full" (click)="login()">Already a User</ion-button>
    <ion-button color="primary" size="full" (click)="register()" >Register</ion-button>
</ion-content>
