<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cloud Kitchen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="success">
      <ion-avatar>
        <img src="https://www.seekpng.com/png/full/356-3562377_personal-user.png" alt="">
      </ion-avatar>
      <ion-label>
        <h1>Monu Martinez</h1>
        <p>Amonut <span class="money">$500</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
 
  <app-pickup-call-card [hasHeader]="true" [hasFooter]="true"></app-pickup-call-card >

  <ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button color="success">
    <ion-icon name="add" (click)="pickupcall()"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>
